In [4]:
import pandas as pd

## importando arquivo excel
dados = pd.read_excel("C:/Users/thiag/Desktop/df1.xlsx")
dados2 = pd.read_csv("C:/Users/thiag/Desktop/BDNA.csv")

C:\Users\thiag\Documents\Anaconda\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [14]:
alunos = {'Nome':['Ricardo','Pedro','Roberto','Carlos'],
          'Nota':[4,7,5.5,9],
          'Aprovado':['N達o','Sim','N達o','Sim']}

alunosDF = pd.DataFrame(alunos)
print(alunosDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      N達o
1    Pedro   7.0      Sim
2  Roberto   5.5      N達o
3   Carlos   9.0      Sim

In [16]:
alunosDF.shape()

TypeError: 'tuple' object is not callable

In [28]:
#Data Manipulation - pandas
import pandas as pd

#Filtro por linha
alunosDF.loc[0:3]
#Filtro por coluna
alunosDF['Nome']
#Filtro de linhas por coluna
alunosDF.loc[alunosDF['Nome']=='Carlos']

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

In [29]:
#EDA
dados.head()
alunosDF.describe()

     Nome  Nota Aprovado
3  Carlos   9.0      Sim